<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h1>Welcome to Myapp!</h1>
            <p class="lead">This is your homepage, ready for editing</p>

            <p>
             <span translate="main.like">If you like this Angular-Flask generator, please give us a star at </span>
             <a class="btn btn-primary" href="/#/write">Create Post</a>
             <a class="btn btn-primary" href="/#/upload">Upload Files</a>
            </p>

            <table class="table table-hover">
                <tr ng-repeat="ppl in people">
                    <td>{{ppl.author}}</td>
                    <td ng-bind-html="ppl.text"></td>
                    <td>{{ppl.tags}}</td>
                </tr>
            </table>



        </div>
    </div>
</div>
